<footer style="background-color: rgb(205, 235, 255); padding: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <p class="text-center"> &copy; 2025 OneStay. All Rights Reserved. </p>
            </div>
            <div class="col-lg-12 col-sm-12" style="text-align: center;">
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Copy Rights</a>
            </div>
        </div>
    </div>
</footer>